.centered-box {
position: absolute;
top: 50%;
}

.buttonbox{
padding-bottom: 30px;
background-color: black;
}

.background-img{
background-color: black;
width: 100%;
height: 50%;
top:-5%;
background-image: url('../img/logoFondTransparent.png');
background-size: 100%;
position: absolute;
background-repeat: no-repeat;
}

.box.span2.btn.btn-custom, .btn.btn-custom{
font-weight: 300;
font-size: 1.2em;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(47, 150, 180);
background-image:linear-gradient(to bottom, #00afef, rgb(47, 150, 180));
margin-bottom: 10px;
color: white;
border-bottom: none;
}

body{
background-color: #000;
max-width: 100%;
overflow-x:hidden;
}


.formbox .form{
border: 2px solid;
margin-top: 10px;
background-color: #fafafa;
border-radius: 10px;
padding-top: 20px;
}

.close{
margin-top: -40px;
}