/**************************GENERAL*****************************/
body{
max-width: 100%;
overflow-x: hidden;
}

.label, .badge{
font-size: 15px;
font-weight: 400;
}

.spacer{
height: 98px;
width: 10%;
margin-left: 0;
}

.spacer-bar{
border-bottom: 1px solid rgb(220, 220, 220);
height: 20px;
}

/*****************************DEV HELPER *************************/

.custom{
height: 100px;
background-color: lightblue;
border: 1px solid;
}

/******************************NAVBAR*****************************/
.dropdown-menu {
background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
background-repeat: repeat-x;
margin: 0px;
-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
} 
.dropdown-menu.black li a, .dropdown-menu.black li{
color:#999999;
}

.dropdown-menu.black >li >a:hover{
background-color: #111;
background-image: none;
}

.navbar select{
width: 20%;
}

.headerNotification{
position: fixed;
top: 5px;
margin-left: 20px;
}

.navbar-inverse .brand{
font-weight:600;
color: black;
  text-shadow: 1px 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
font-size: 1.8em;
}

a.brand span:hover{
color: rgb(1, 169, 220);
}

.nav i.fa.fa-2x{
background-color: rgb(1, 169, 220);
padding: 6px 16px;
}
.navbar-inverse .nav a.btn-custom, .navbar-inverse .nav a.btn-custom:hover{
color:white;
    background-color: rgb(47, 150, 180);
    margin-top: 0;
}

.doubleshadow
{
box-shadow: -2px 0px 6px 1px rgba(1, 169, 220, 0.5), -2px 0px 6px 1px rgba(1, 169, 220, 0.5);
}
/*******************************SIDEBAR FIXED*************************/

.sidebar{
position: fixed;
height: 100%;
background-color: #eeeeee;
width: 220px;
margin-top:45px

}

.sidebar-header{
width: 220px;
min-height: 60px;
}

.row-fluid{
padding-left: 260px;
}

.row-fluid .row{
margin:0;
}

.well.ami{
margin: 0px;
}

.ami:hover{
background-color: #fff;
}

.wrap{
margin: 3px 0px 10px 0px;
height: 70%;
overflow-y: scroll;
}

/************************************* CONTENT***************************/

.box{
background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
padding: 0px 0px 15px 0px;
font-size: 15px;
font-weight: 300;
margin-bottom: 10px;
}

.date{
font-weight: 100;
font-size: 0.9em;
}

.centre{
text-align: center;
}

.sous-menu{
position: fixed;
top: 41px;
padding-top: 5px;
background-color: white;
width: 100%;
max-width: 1170px;
z-index: 2;
}

.box-header{
font-size: 1.1em;
height: 20px;
line-height: 25px;
margin-left: 10px;
}

.box-content{
padding: 10px 0px 10px 0px;
}

.tab-pane .row{
margin-left: 0px;
}

.historyLine{
border-bottom: 1px #999 solid;
}

.historyLine:hover{
background-color:#fafafa;
}

.pagination ul li a, .pagination ul{
background-color: transparent;
box-shadow: none;
border: none;
color: #999;
}

.page-header{
background-color: #eee;
margin-bottom: 20px;
margin-top: 0px;
-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
padding:15px 0px 0px 0px;
font-size: 1.1em;
font-weight: 200;
}

.options .accordion-group, .options .accordion-inner{
margin: 0;
border: none;
}

.options a.accordion-toggle{
color: black;
border-bottom: 1px solid rgb(220, 220, 220);
font-size: 0.9em;
}

.page-header.affix{
top:41px;
}

.spacer-bar.affix{
top: 145px;
z-index: ;
background-color: white;
z-index: 0;
margin-left:220px;
}

.btn-custom{
font-weight: 300;
background-color: rgb(47, 150, 180);
background-image:linear-gradient(to bottom, #00afef, rgb(47, 150, 180));
color: white;
border-bottom: none;
}

.btn-custom:hover, .btn-custom:focus{
text-decoration: none;
background-position: 0px -15px;
transition: background-position 0.1s linear 0s;
background-color: rgb(47, 150, 180);
color:white;
}

.vertical-divider{
height: 100px;
width: 1px;
border: 1px solid;
margin-left: 50%;
}

.event{
padding: 0px 10px 5px 10px;
}

.event img{

}

.event .comment{
background-color: #fafafa;
border-left: 2px solid grey;
padding: 3px 10px;
margin-bottom: 5px;
}

div#commentArea textarea {
overflow-y: hidden; /* prevents scroll bar flash */
max-height: 100px;
margin-left: 15px;
}

.contact h5 a{
color: black;
font-weight: 400;
}
/******************FORMS ****************************/

.small-entry{
width: 25px;
}

#formDescription{
min-height: 200px;
min-width: 100%;
}


/********MODALS***************/
.modal .row-fluid{
padding-left: 0px;
}

.modal .box{
padding-top: 15px;
}